{% extends "base.html" %}
{% block title %}Our Website - Clothes Information{% endblock %}}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
{% if status == "user" %}
<div style='margin: 8px'>
    <div style='float: left'>
        <a style="margin-right: 8px" href="/">Home</a>
        <a style="margin-right: 6px; font-size: 15px">></a>
        <a style="margin-right: 8px" href="/retrieveProducts">Clothes</a>
        <a style="margin-right: 6px; font-size: 15px">></a>
        <a style="margin-right: 8px" href="#">Top</a>
        <a style="margin-right: 6px; font-size: 15px">></a>
        {% if gender == 'F' %}
        <a style="margin-right: 8px" href="#">Women's</a>
        {% elif gender == 'M' %}
        <a style="margin-right: 8px" href="#">Men's</a>
        {% endif %}
        <a style="margin-right: 6px; font-size: 15px">></a>
        <a style="margin-right: 8px">{{ name }} - {{ gender }}</a>
    </div>
    <br>
    <div>
        <div style='margin: 50px; margin-top: 40px'>
            <p>Product Details</p>
            <hr>
            <div style='float: left; margin-bottom: 40px; width: 600px'>
            </div>
        </div>
        <div style="width: 600px; float: left; margin-top: -35px; margin-left: 50px; padding: 10px; background-color: rgb(242, 242, 242); border-style: solid; border-width: thin">
            <h4>{{ name }} - {{ gender }}</h4>
            <p style="font-size: 50px; color: pink">{{ price }}</p>
            <hr>
            <p>Color : {{ color }}</p>
            {% if gender == 'F' %}
                <p>Gender : Female</p>
            {% elif gender == 'M' %}
                <p>Gender : Male</p>
            {% endif %}
            <form method="POST" action="">
                <div class="form-group">
                    {{ render_field(form.size, class="form-check") }}
                </div>
                <div id="prof">
                    <div class="form-group">
                        {{ render_field(form.description, rows="10", class="form-control", disabled=True) }}
                    </div>
                </div>
                <a href="/transaction/{{ id }}" class="btn btn-primary">CLICK TO BUY</a>
            </form>
        </div>
    </div>
</div>
<br>
{% elif status == "admin" %}
<h1>This is the Administators' page.</h1>
{% endif %}
<style>
* {
font-family: 'Montserrat', sans-serif;
}
button {
margin: 2px;
}
</style>
<script>
</script>
{% endblock %}

