{% extends "base.html" %}
{% block title %}Our Website - Clothes Information{% endblock %}
{% block content %}
<div style='margin: 10px'>
    <div style='float: left'>
        <a style="margin-right: 10px" href="/">Home</a>
        <a style="margin-right: 10px">></a>
        <a style="margin-right: 10px" href="#">Clothes</a>
        <a style="margin-right: 10px">></a>
        <a style="margin-right: 10px" href="#">Top</a>
        <a style="margin-right: 10px">></a>
        <a style="margin-right: 10px" href="#">Women's</a>
        <a style="margin-right: 10px">></a>
        <a style="margin-right: 10px">Drop Shoulder V Neck Oversized Sweater - Red Wine S</a>
    </div>
    <br>
    <div style='margin: 50px; margin-top: 40px'>
        <p>Product Details</p>
        <hr>
        <div style='float: left'>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYl8_jgPw2uILCw7Q1NsLVAosQGN10WnA_8JX-Jg0xWW3-5GKg&s" style="width : 600px; float: right; margin-left: 30px">
            <img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2018/09/20thumb-img/1541723284111313370.jpg"  style="width: 135px; margin-bottom: 10px">
            <br>
            <img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2018/09/20thumb-img/1541723284952351161.jpg"  style="width: 135px; margin-bottom: 10px">
            <br>
            <img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2018/09/20thumb-img/1541723284261580453.jpg" style="width: 135px; margin-bottom: 10px">
            <br>
            <img src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2018/09/20thumb-img/1541723284460178514.jpg" style="width: 135px; margin-bottom: 10px">
        </div>
    </div>
</div>
{% endblock %}
