{% extends "retrieveusersbase.html" %}
{% block title %}Product Library System - Retrieve Product Information{% endblock %}

{% block content %}
<h1 class="display-4">Products For Purchase</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>itemID</th>
                <th>Email</th>
                <th>Address</th>
                <th>city</th>
                <th>zip</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoices[invoice].get_itemID() }}</td>
                <td>{{ invoices[invoice].get_email() }}</td>
                <td>{{ invoices[invoice].get_address() }}</td>
                <td>{{ invoices[invoice].get_city() }}</td>
                <td>{{ invoices[invoice].get_zip() }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
