{% extends "retrieveusersbase.html" %}
{% block title %}Product Library System - Retrieve Product Information{% endblock %}

{% block content %}
<style>
    p{
color:#DC143C;
font-weight: bold;
}
</style>
<h1 class="display-4">Customer Invoices</h1>
<div>
    {% if count == 0 %}
    <p>There are no invoices.</p>
    {% elif count == 1 %}
    <p>There is 1 invoice.</p>
    {% else %}
    <p>There are {{ count }} invoices.</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>itemID</th>
                <th>Email</th>
                <th>Address</th>
                <th>city</th>
                <th>zip</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoices[invoice].get_itemID() }}</td>
                <td>{{ invoices[invoice].get_email() }}</td>
                <td>{{ invoices[invoice].get_address() }}</td>
                <td>{{ invoices[invoice].get_city() }}</td>
                <td>{{ invoices[invoice].get_zip() }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
