{% extends "base.html" %}
{% block title %}Product Library System - Retrieve Product Information{% endblock %}

{% block content %}
<h1 class="display-4">Products For Purchase</h1>
<div>
    {% if count == 0 %}
    <p>There are no products.</p>
    {% elif count == 1 %}
    <p>There is 1 product.</p>
    {% else %}
    <p>There are {{ count }} products.</p>
    {% endif %}
    <form action="{{ url_for('createProduct') }}">
        <input type="submit" class="btn btn-info" value="ADD ITEM TO MARKET"/>
    </form>
</div>
<br>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Product Name</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
        {% for item in itemsList %}
            <tr>
                <td>{{ item.get_itemID() }}</td>
                <td>${{ item.get_price() }}</td>
                <td>{{ item.get_name() }}</td>
                <td>{{ item.get_gender() }}</td>
                <td><a href="/clothesInfo/{{ item.get_itemID() }}" class="btn btn-warning">More Info</a></td>
                <td>
                    {% if status == 'admin' %}
                    <form action="{{ url_for('deleteProduct', id=item.get_itemID()) }}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Product?')">
                    </form>
                    {% elif status == 'user' %}
                    <form action="">
                        <input type="submit" class="btn btn-info" value="ADD TO CART"/>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
